<div class="container-devise">
  <div class="card-devise">
    <!-- Edit -->
    <h2>Edit your profile <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :avatar, "Avatar" %><br />
        <%= f.file_field :avatar,
                          required: true,
                          input_html: { autocomplete: "avatar", multiple: false } %>
      </div>

      <div class="field">
        <%= f.label :background_image, "Background Image" %><br />
        <%= f.file_field :background_image,
                          required: true,
                          input_html: { autocomplete: "background-image", multiple: false } %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, value: resource.first_name, autocomplete: "first_name" %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, value: resource.last_name, autocomplete: "last_name" %>
      </div>

      <div class="field">
        <%= f.label :bio %><br />
        <%= f.text_field :bio, value: resource.bio, autocomplete: "Write a small bio about yourself" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
