
<div class="chatroom" data-controller="chatroom-subscription" data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>" data-modal-target="modal" data-action="click->modal#close">
  <div class="chatroom-header" >
    <% if @chatroom.name %>
      <h3><%= @chatroom.name %></h3>
    <% else %>
      <div class="chatroom-avatar">
        <% if chatroom.users.first.avatar.attached? %>
        <%= image_tag chatroom.users.first.avatar , class:"avatar-img" %>
        <% else %>
        <!-- If user doesn't have a profile picture -->
        <%= image_tag ("user-profile-default.jpg"), class:"avatar-img" %>
        <% end %>
    </div>
      <h3><%= chatroom.users.first.first_name %></h3>
    <% end %>
  </div>
  <div class="chatroom-content">
    <div class="chatroom-messages" data-chatroom-subscription-target="messages">
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [@chatroom, Message.new],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "chatroom-footer form-inline" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message #{@chatroom.name}",
        wrapper_html: {class: "message-input"}
      %>
      <%= f.submit "Send", class: "button" %>
    <% end %>
  </div>
</div>
