<div class="page-layout">
  <%= render "pages/leftsidebar" %>
  <div class="main-section shadowed" data-controller="messages">
    <!-- Chatroom list -->
    <div class="messages-index-contact-list">
      <h3>My messages</h3>
      <% @chatrooms.each do |chatroom| %>
        <!-- The user logic per chatroom -->
        <% if chatroom.users.first == current_user %>
          <% user = chatroom.users.last %>
        <% else %>
          <% user = chatroom.users.first %>
        <% end %>
        <!-- The actual contact card -->
        <div class="contact-card" data-action="click->messages#changeChatroom" data-chatroom-id="<%= chatroom.id %>">
          <%= cl_image_tag user.avatar.key, class: "contact-profile" %>
          <p><%= user.first_name %> <%= user.last_name %></p>
        </div>
      <% end %>
    </div>
    <!-- Main chatroom -->

    <%= render 'main_chatroom', chatroom: @chatroom %>

  </div>
</div>
