<nav>
  <%= link_to root_path do %>
    <p class="nav-logo">Fakebook</p>
  <% end %>
  <div style="display:flex; gap: 20px">
    <% if user_signed_in? %>
      <%# <h4><%= link_to "Home", root_path, class: "nav-link" %></h4> %>
      <h4><%= link_to "My profile", profile_path, class: "nav-link" %></h4>
      <h4><%= link_to "Log out",  destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %></h4>
    <% else %>
      <h4><%= link_to "Sign up",  new_user_registration_path, class: "nav-link" %></h4>
      <h4><%= link_to "Login", new_user_session_path, class: "nav-link" %></h4>
    <% end %>
  </div>
</nav>
