<% @posts.each do |post| %>
  <% @post.id = post.id %>
  <div class="post" data-controller="posts">
    <div class="post-header">
      <div class="post-display-user">
        <% if post.user.avatar.present? %>
          <%= cl_image_tag post.user.avatar.key, class: "contact-profile" %>
        <% end %>
        <h3><%= link_to "#{post.user.first_name} #{post.user.last_name}", profile_path(post.user) %></h3>
      </div>

      <div class="post-options">
        <% if post.user == current_user %>
        <%= image_tag "option-dots.png", alt: "Options", class: "post-option-dots" %>
          <div class="post-options-menu">
            <%= link_to "Edit", edit_post_path(post), class: 'edit-link' %>
            <%= link_to 'Delete', posts_destroy_path(post), class: "delete-link", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this post?"} %>
          </div>
        <% end %>
    </div>
  </div>

    <div class="post-content">
      <p><%= post.content %></p>
    </div>

    <div style="display: flex; justify-content: space-between">
      <% unless post.likes.empty? %>
        <p class="comment-count"><%= post.likes.count %> like(s)</p>
      <% end %>
      <% unless post.comments.empty? %>
        <p class="comment-count" data-action="click->posts#commentShow"><%= post.comments.count %> comment(s)</p>
      <% end %>
    </div>
    <div class="post-buttons">
      <% postliked = []  %>
      <% current_user.likes.each do |like| %>
        <% postliked << like if like[:likeable_type] == "Post" && like[:likeable_id] == @post.id %>
      <% end %>
      <% if postliked.empty? %>
        <%= button_to 'Like', post_like_path(@post), method: :put, params: { like: { likeable_type: 'Post', likeable_id: @post.id } }, class: 'post-button' %>
      <% else %>
        <%= button_to 'Unlike', post_unlike_path(@post, @post.likes.find_by(user_id: current_user.id)), method: :delete, params: { like: { likeable_type: 'Post', likeable_id: @post.id } }, class: 'post-button' %>
      <% end %>
      <button class="post-button" data-action="click->posts#commentNew">Comment</button>
    </div>
    <div class="post-comments" data-posts-target="commentshow">
      <% unless post.comments.empty? %>
        <% post.comments.each do |comment| %>
          <div class="post-comment">
              <% if comment.user.avatar.present? %>
                <%= cl_image_tag comment.user.avatar.key, class: "contact-profile" %>
              <% end %>
            <div class="post-comment-content">
              <p><strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong></p>
              <p><%= comment.content %></p>
              <% unless comment.likes.empty? %>
                <p class="comment-count"><%= comment.likes.count %> like(s)</p>
              <% end %>
              <% commentliked = []  %>
              <% current_user.likes.each do |like| %>
                <% commentliked << like if like[:likeable_type] == "Comment" && like[:likeable_id] == comment.id %>
              <% end %>
              <% if commentliked.empty? %>
                <%= button_to 'Like', comment_like_path(comment), method: :put, params: { like: { likeable_type: 'Comment', likeable_id: comment.id } } %>
              <% else %>
                <%= button_to 'Unlike', comment_unlike_path(comment, comment.likes.find_by(user_id: current_user.id)), method: :delete, params: { like: { likeable_type: 'Comment', likeable_id: comment.id } } %>
              <% end %>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
    <%= render "createpostcomment" %>
  </div>
<% end %>
