<% @posts.each do |post| %>
  <% @post.id = post.id %>
  <div class="post" data-controller="posts">
    <div class="post-header">
      <div class="post-display-user">
        <%= image_tag ("user-profile-default.jpg"), class: "contact-profile" %>
        <h3><%= post.user.first_name %> <%= post.user.last_name %></h3>
      </div>
      <% if post.user == current_user %>
        <div class="post-options-hover">
          <%= image_tag "option-dots.png", class: "post-option-dots" %>
        </div>
      <% end %>
    </div>
    <div class="post-content">
      <p><%= post.content %></p>
    </div>
    <% unless post.comments.empty? %>
      <p class="comment-count" data-action="click->posts#commentShow"><%= post.comments.count %> comment(s)</p>
    <% end %>
    <div class="post-buttons">
      <button class="post-button">Like</button>
      <button class="post-button" data-action="click->posts#commentNew">Comment</button>
    </div>
    <% unless post.comments.empty? %>
      <div class="post-comments" data-posts-target="commentshow">
        <% post.comments.each do |comment| %>
          <div class="post-comment">
            <%= image_tag ("user-profile-default.jpg"), class: "contact-profile" %>
            <div class="post-comment-content">
              <p><strong><%= comment.user.first_name %> <%= comment.user.last_name %></strong></p>
              <p><%= comment.content %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= render "createpostcomment" %>
  </div>
<% end %>
