<div class="section-left shadowed">
  <h3><%= link_to "Home", root_path %></h3>
  <h3><%= link_to "Messages", chatrooms_path %></h3>
  <h3><%= link_to "Pages", pages_path %></h3>
  <h5>Online users:</h5>
  <% @users.each do |user| %>
    <%= link_to profile_path(user.id) do %>
      <div class="contact-card shadowed">
        <% if user.avatar.present? %>
          <%= cl_image_tag user.avatar.key, class: "contact-profile" %>
        <% end %>
        <p><%= user.first_name %> <%= user.last_name %></p>
      </div>
    <% end %>
  <% end %>
</div>
