<div class="section-left">
  <h3><%= link_to "pages", pages_path %></h3>
  <h3><%= link_to "Add page", new_page_path %></h3>
  <h3>Online users:</h3>
  <% @users.each do |user| %>
    <%= link_to profile_path(user.id) do %>
      <div class="contact-card">
        <% if user.avatar.present? %>
          <%= cl_image_tag user.avatar.key, class: "contact-profile" %>
        <% end %>
        <p><%= user.first_name %> <%= user.last_name %></p>
      </div>
    <% end %>
  <% end %>
</div>
