<div class="section-right shadowed">
  <h3>Pages</h3>
  <% @pages.each do |page| %>
    <%= link_to page_path(page) do %>
      <div class="contact-card shadowed">
        <% if page.avatar.present? %>
          <%= cl_image_tag page.avatar.key, class: "contact-profile" %>
        <% end %>
        <p><%= page.name %></p>
      </div>
    <% end %>
  <% end %>
  <h3>Contacts:</h3>
  <% @users.each do |user| %>
    <% unless user == current_user %>
      <div class="contact-card shadowed" data-user-id="<%= user.id %>" data-action="click->modal#toggle">
        <% if user.avatar.present? %>
          <%= cl_image_tag user.avatar.key, class: "contact-profile" %>
        <% end %>
        <p><%= user.first_name %> <%= user.last_name %></p>
        <% if @notifications_by_user[user.id] > 0 %>
          <div class="notification-bell">
            <i class="fa fa-bell"></i>
            <span class="notification-count"><%= @notifications_by_user[user.id] %></span>
          </div>
        <% end %>
    </div>
    <% end %>
  <% end %>
</div>
