<div class="page-layout">
  <%= render "pages/leftsidebar" %>
  <div class="main-section flex-dir-column shadowed">
    <h3>Pages</h3>
    <div class="page-grid">
      <% @pages.each do |page| %>
        <%= link_to page_path(page) do %>
          <div class="page-card shadowed">
            <%= cl_image_tag page.background_image.key, class: "page-card-background" %>
            <div class="page-card-footer">
              <% if page.avatar.present? %>
                <%= cl_image_tag page.avatar.key, class: "contact-profile" %>
              <% end %>
              <p><%= page.name %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="button">
      <%= link_to "Add new", new_page_path %>
    </div>
  </div>
  <%# <%= render "pages/rightsidebar" %>
</div>
