<div class="profile-background">
  <%= image_tag ("user-background-default.jpg"), class:"profile-background-img" %>
</div>
<div class="container container-margin">
  <div class="section align-center">
    <%= image_tag ("user-profile-default.jpg"), class:"profile-face" %>
    <div>
      <h2>About me</h2>
      <p>Gender: <%= @user.gender %></p>
      <p>Email: <%= @user.email %></p>
    </div>
  </div>
  <div style="width: 100%">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="post-feed">
      <% if @user == current_user %>
        <%= render "createpost" %>
      <% end %>
      <% @user.posts.each do |post| %>
        <div class="post">
          <div class="post-display-user">
            <%= image_tag ("user-profile-default.jpg"), class: "contact-profile" %>
            <h3><%= @user.first_name %> <%= @user.last_name %></h3>
          </div>
          <p>Created at <%= post.created_at %></p>
          <p><%= post.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
